<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <!-- ThreadContext: %x = stack, %X = map-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{[%t] %30logger{2} [%-5level]} %X %msg %throwable{5}%n"/>
    </Console>
  </appenders>
  <loggers>
    <root level="INFO">
      <appender-ref ref="Console"/>
    </root>
    <!--<logger name="co.paralleluniverse.galaxy.core.StringRootManager" level="ALL"/>-->
    <!--<logger name="co.paralleluniverse.galaxy.core.Cache" level="ALL"/>-->
    <!--<logger name="co.paralleluniverse.galaxy.netty.UDPComm" level="ALL"/>-->
    <!--<logger name="co.paralleluniverse.actors" level="DEBUG"/>-->
    <!--<logger name="co.paralleluniverse.remote.galaxy.GlxRemoteActor" level="DEBUG"/>-->
    
  </loggers>
</configuration>