#encoding UTF-8
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=${cleansedmodulename}.html">
  <title>Redirecting to ${cleansedmodulename} documentation</title>
</head>

<body>
  <a href="${cleansedmodulename}.html">${cleansedmodulename} documentation</a>
</body>
</html>
