<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="_server.xml"/>

<!-- 
    Choose one <import resource="..."/> element per line:
    
    * One of: "_jgroups.xml", "_zookeeper.xml", "_jgroups_cloud.xml"
    * One of: "_bdb.xml", "_sql.xml".
    
    See "Getting Started" in the docs for details.
-->

    <import resource="_zookeeper.xml"/> 
    <import resource="_bdb.xml"/> 
</beans>
